@use './vars.scss' as *;

.selected-clothes {
  display: grid;
  grid-template-columns: 300px 300px;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 16px;
  &__block {
    position: relative;
    border: 1px solid #ececec;
    min-height: 300px;
    padding: 16px;
    &--multiple {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      gap: 4px;
      .clothes-item {
        width: calc(100% / 4 - 3px);
        height: calc(100% / 4 - 3px);
      }
    }
    &--single {
      > div {
        height: 100%;
      }
    }
  }
  &__counter {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 8px;
    text-align: center;
    background-color: $color-bg;
    z-index: 1;
  }
}
.available-clothes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  &__block {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 8px;
    border: 1px solid #ececec;
    min-height: 600px;
    padding: 16px;
    .clothes-item {
      width: calc(100% / 4 - 8px);
      height: calc(100% / 4 - 8px);
    }
  }
}

.clothes-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border: 1px solid #ececec;
  cursor: pointer;
  span {
    font-size: 18px;
  }
  &--big {
    height: 100%;
  }
}
